*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
    font-family: 'roboto' , sans-serif;
}

.text-area{
    text-indent: 10px;
    border-radius: 5px 0 0 5px  !important;
    border: 1px solid;
    outline: none;
}

.add-btn{
    border-radius: 0 5px 5px 0 !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: blue !important;
    color: #eee !important;
    font-weight: 400px !important;
}

.listTodo:hover span a{
    text-decoration: none;
}
.checkBox{
    width: 18px !important;
    height:18px !important;
    border:1px solid;
    border-radius: 5px;
    display: flex !important;
    justify-content: center !important;
    align-items:center !important;
    position: relative;
    margin-right: 5px;
}
li[data-or = "check"] div:first-child .checkBox::after{
    content: "";
    position: absolute;
    background-color: #000;
    width: 14px;
    height: 14px;
    border-radius: 5px;

}

li[data-or = "check"]  div:first-child p{
    text-decoration: line-through;
}

li  div:first-child{
    width: 95% !important;
}

.garpge{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
.garpge:hover{
    cursor:pointer;
}



